src/conf/xml-resources/web-service-references/OperacionesCliente/wsdl/localhost_8080/ClienteSOAP_U1T3/OperacionesCliente.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sw/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sw/" name="OperacionesCliente">
<types>
<xsd:schema>
<xsd:import namespace="http://sw/" schemaLocation="http://localhost:8080/ClienteSOAP_U1T3/OperacionesCliente?xsd=1"/>
</xsd:schema>
</types>
<message name="Deposito">
<part name="parameters" element="tns:Deposito"/>
</message>
<message name="DepositoResponse">
<part name="parameters" element="tns:DepositoResponse"/>
</message>
<message name="RegistrarUsuario">
<part name="parameters" element="tns:RegistrarUsuario"/>
</message>
<message name="RegistrarUsuarioResponse">
<part name="parameters" element="tns:RegistrarUsuarioResponse"/>
</message>
<message name="Retiro">
<part name="parameters" element="tns:Retiro"/>
</message>
<message name="RetiroResponse">
<part name="parameters" element="tns:RetiroResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="OperacionesCliente">
<operation name="Deposito">
<input wsam:Action="http://sw/OperacionesCliente/DepositoRequest" message="tns:Deposito"/>
<output wsam:Action="http://sw/OperacionesCliente/DepositoResponse" message="tns:DepositoResponse"/>
</operation>
<operation name="RegistrarUsuario">
<input wsam:Action="http://sw/OperacionesCliente/RegistrarUsuarioRequest" message="tns:RegistrarUsuario"/>
<output wsam:Action="http://sw/OperacionesCliente/RegistrarUsuarioResponse" message="tns:RegistrarUsuarioResponse"/>
</operation>
<operation name="Retiro">
<input wsam:Action="http://sw/OperacionesCliente/RetiroRequest" message="tns:Retiro"/>
<output wsam:Action="http://sw/OperacionesCliente/RetiroResponse" message="tns:RetiroResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://sw/OperacionesCliente/loginRequest" message="tns:login"/>
<output wsam:Action="http://sw/OperacionesCliente/loginResponse" message="tns:loginResponse"/>
</operation>
</portType>
<binding name="OperacionesClientePortBinding" type="tns:OperacionesCliente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Deposito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Retiro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OperacionesCliente">
<port name="OperacionesClientePort" binding="tns:OperacionesClientePortBinding">
<soap:address location="http://localhost:8080/ClienteSOAP_U1T3/OperacionesCliente"/>
</port>
</service>
</definitions>