src/conf/xml-resources/web-service-references/OperacionesCliente/wsdl/localhost_8080/ClienteSOAP_U1T3/OperacionesCliente.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://sw/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sw/">

<xs:element name="Deposito" type="tns:Deposito"/>

<xs:element name="DepositoResponse" type="tns:DepositoResponse"/>

<xs:element name="RegistrarUsuario" type="tns:RegistrarUsuario"/>

<xs:element name="RegistrarUsuarioResponse" type="tns:RegistrarUsuarioResponse"/>

<xs:element name="Retiro" type="tns:Retiro"/>

<xs:element name="RetiroResponse" type="tns:RetiroResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:complexType name="Deposito">
<xs:sequence>
<xs:element name="saldo" type="xs:double"/>
<xs:element name="valor" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DepositoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Retiro">
<xs:sequence>
<xs:element name="saldo" type="xs:double"/>
<xs:element name="valor" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RetiroResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarUsuario">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="repetirContrasena" type="xs:string" minOccurs="0"/>
<xs:element name="saldo" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>